/node_modules
/storage/app/public/articles/*
/storage/app/public/games/*
!/storage/app/public/games/no_cover.jpg
/storage/app/public/listings/*
/storage/app/public/users/*
!/storage/app/public/users/no_avatar.jpg
/storage/debugbar
/storage/logs
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.php-cs-fixer.cache
.phpunit.result.cache
.phpstorm.meta.php